<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GithubProjectUrl" value="https://github.com/laosanyuan/HuoHuan"/>
    <add key="GiteeProjectUrl" value="https://gitee.com/ylaosan/huo-huan"/>
    <add key="GithubUpdateUrl" value="https://raw.githubusercontent.com/laosanyuan/HuoHuan/master/VersionInfo.yml"/>
    <add key="GiteeUpdateUrl" value="https://gitee.com/ylaosan/huo-huan/raw/master/VersionInfo.yml"/>
    <add key="GithubDownloadUrl" value="https://github.com/laosanyuan/HuoHuan/releases"/>
    <add key="GiteeDownloadUrl" value="https://gitee.com/ylaosan/huo-huan/releases"/>
  </appSettings>
</configuration>