<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ProjectUrl" value="https://github.com/laosanyuan/HuoHuan"/>
    <add key="UpdateUrl" value="https://raw.githubusercontent.com/laosanyuan/HuoHuan/master/VersionInfo.yml"/>
    <add key="DownloadUrl" value="https://github.com/laosanyuan/HuoHuan/releases"/>
  </appSettings>
</configuration>