<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GithubProjectUrl" value="https://github.com/laosanyuan/HuoHuan"/>
    <add key="GithubUpdateUrl" value="https://raw.githubusercontent.com/laosanyuan/HuoHuan/master/VersionInfo.yml"/>
    <add key="GithubDownloadUrl" value="https://github.com/laosanyuan/HuoHuan/releases"/>
  </appSettings>
</configuration>